<nav class="navbar navbar-expand-lg navbar-dark bg-dark">       
    <div class="collapse navbar-collapse" id="navbarNav">
        <a href="/blogs">Home</a>
    </div>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li></li>
        <li><a href="/users/about">About</a></li>
        <li><a href="/blogs/create">Create Blog</a></li>
        <li><a href="/blogs">Blogs</a></li>
        <li><a href="/users/logout">Log Out</a></li>
    </ul>
</nav>
