<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <section class="vh-100 bg-image" style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.jpg');">
    <div class="create-blog content">
        <form action="/blogs/create" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <label for="title" style="color: rgb(250, 249, 249);font-weight: bold;">Blog title:</label>
                <input placeholder="title" type="text" id="title" name="title" required style="color: darkgrey;">
            </div>
            <div class="form-group">
                <label for="snippet" style="color: rgb(253, 252, 252);font-weight: bold;">Blog snippet:</label>
                <input placeholder="snnipet" type="text" id="snippet" name="snippet" required >
            </div>
            <div class="form-group">
                <label for="discription" style="color: rgb(253, 249, 249);font-weight: bold;">Description</label>
                <textarea placeholder="Description" name="discription"  class="form-control" required></textarea>
            </div>
            <div class="form-group">
                <label for="img" style="color: rgb(253, 252, 252);font-weight: bold;">Upload Image</label>
                <input type="file" name="image">
            </div>
            <div class="form-group">
                <a href="/blogs">Cancel</a>
                <button type="submit">Post</button>
            </div>
            
        </form>
    </div>
    </body></section>
    <%- include('./partials/footer.ejs') %>
</body>
</html>