<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>profile</title>
    <link  rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.3/html2pdf.bundle.min.js"></script>
    <link rel="stylesgeet" href="https://rawgit.com/creativetimofficial/material-kit/master/assets/css/material-kit.css">
    
</head>

<body class="profile-page" id="cv">
    <nav class="navbar navbar-color-on-scroll navbar-transparent    fixed-top  navbar-expand-lg "  color-on-scroll="100"  id="sectionsNav">
        <div class="container">
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                    <li class="dropdown nav-item">
                      <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false">
                           History
                      </a>
                      <div class="dropdown-menu dropdown-with-icons">
                        <a href="#" class="dropdown-item">
                             Currently Working On
                        </a>
                        
                        <a href="#" class="dropdown-item">
                             Previous Works
                        </a>
                      </div>
                    </li>
      				<li class="nav-item">
                          <button class="nav-link" id="download">Download As CV</button>
      				</li>
      				<li class="nav-item">
      					<a class="nav-link" href="#pablo" target="_blank">
      						<i class="fa fa-twitter"></i>
      					</a>
      				</li>
      				<li class="nav-item">
      					<a class="nav-link" href="#pablo" target="_blank">
      						<i class="fa fa-facebook-square"></i>
      					</a>
      				</li>
      				<li class="nav-item">
      					<a class="nav-link"  href="#pablo" target="_blank">
      						<i class="fa fa-instagram"></i>
      					</a>
      				</li>
                </ul>
            </div>
        </div>
    </nav> 
    <div class="page-header header-filter" data-parallax="true" style="background-image:url('http://wallpapere.org/wp-content/uploads/2012/02/black-and-white-city-night.png');"></div>
    <div class="main main-raised">
		<div class="profile-content">
            <div class="container">
                <div class="row">
	                <div class="col-md-6 ml-auto mr-auto">
        	           <div class="profile">
	                        <div class="avatar">
	                            <img src="/Uploads/pp/pp.jpg" alt="Missing Image">
	                        </div>
	                        <div class="name">
	                            <h3 class="title">User Name</h3>
								<h6>Profession</h6>
								<a href="#pablo" class="btn btn-just-icon btn-link btn-dribbble"><i class="fa fa-dribbble"></i></a>
                                <a href="#pablo" class="btn btn-just-icon btn-link btn-twitter"><i class="fa fa-twitter"></i></a>
                                <a href="#pablo" class="btn btn-just-icon btn-link btn-pinterest"><i class="fa fa-pinterest"></i></a>
	                        </div>
	                    </div>
    	            </div>
                </div>
                <div class="container">
                  <div class="row">
                      <div class="col-12 col-sm-5 col-md-5 col-lg-5 col-xl-5 text-center" id="jumbo">
                          <button type="button" class="btn btn-success"><a href="#" style="text-decoration: none; color: #FFFFFF">Currently Working On</a></button>
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                      </div>
                      <div class="col-12 col-sm-5 col-md-5 col-lg-5 col-xl-5 offset-sm-2 offset-md-2 offset-lg-2 offset-xl-2 text-center" id="jumbo">
                          <button type="button" class="btn btn-warning"><a href="#" style="text-decoration: none; color: #FFFFFF">Future Plans</a></button>
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.  </p>
                      </div>
                  </div>
                 <div class="row">
                      <div class="col-12 col-sm-5 col-md-5 col-lg-5 col-xl-5 text-center" id="jumbo">
                          
                      <button type="button" class="btn btn-info"><a href="#" style="text-decoration: none; color: #FFFFFF">View Privious Work History</a></button>
                          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. </p>
                  </div>
                      <div class="col-12 col-sm-5 col-md-5 col-lg-5 col-xl-5 offset-sm-2 offset-md-2 offset-lg-2 offset-xl-2 text-center" id="jumbo">
                          <button type="button" class="btn btn-danger"><a href="#" style="text-decoration: none; color: #FFFFFF">Others</a></button>
                          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. </p>
                      </div>
                  </div>
              </div>
				<div class="row">
					<div class="col-md-6 ml-auto mr-auto">
                        <div class="profile-tabs">
                          <ul class="nav nav-pills nav-pills-icons justify-content-center" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" href="#" role="tab" data-toggle="tab">
                                  <i class="material-icons">camera</i>
                                  Studio
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" role="tab" data-toggle="tab">
                                  <i class="material-icons">favorite</i>
                                    Favorite Activities
                                </a>
                            </li>
                          </ul>
                        </div>
    	    	</div>
            </div>
        
          <div class="tab-content tab-space">
          </div>
            </div>
        </div>
	</div>
    <script>
        window.onload=function(){
            document.getElementById("download")
            .addEventListener('click',()=>{
                const cv =this.document.getElementById("cv")
                html2pdf().from(cv).save()
            })
        }
    </script>
	

    <%- include('./partials/footer.ejs') %>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>
</body>
</html>